body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: red;
}

label {
  text-align: left;
  width: 100%;
  max-width: 500px;
  color: #847878;
  font-weight: bold;
}

.body{
  margin: 10px 5%;
}
@media (max-width: 520px) {
  .body{
    margin: 10px 0%;
  }
}

.Header{
  border-bottom: 1px solid red;
}

.Footer{
  border-top: 1px solid red;
}

.header_link{
  color: #847878;
}
.active_header_link{
  color: red;
}
