body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, a{
  color: red;
}

h4, p, .form-group{
  padding-top: 1rem;
}

label {
  text-align: left;
  width: 100%;
  max-width: 500px;
  color: #847878;
  font-weight: bold;
}

.navlinks a{
  padding: .375rem .75rem;
  display: inline-block;
}

.navlinks a:hover{
  text-decoration: none;
  color: red;
}

.poster_holder a{
  text-decoration: none;
}

.poster_holder h5{
  color: #847878;
}

.poster_holder h5:hover{
  color: red;
}

.body{
  margin: 10px 5%;
}

.body > div {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 10px;
}

iframe{
  margin: 0px -10px;
  padding-top: 1rem;
}

.Header{
  border-bottom: 3px solid #847878;
  text-align: center;
}

.Footer{
  padding: 20px 0;
  color: #847878;
  font-size: 0.8rem;
  text-align: center;
}

.header_link{
  color: #847878;
}

.active_header_link{
  color: red !important;
  font-weight: bold;
}

.leftaligned{
  text-align: left;
}

.gdcfirstpara{
  display: flex;
  flex-direction: row;
}

.modalbutton{
  display: none;
}

@media (max-width: 640px) {
  .hiddenmodal{
    margin-left: -100px;
  }
  .shownmodal{
    margin-left: 0px;
  }
  .imgtest{
    margin: 0 auto;
  }
  .gdcfirstpara{
    flex-direction: column;
  }
  .body{
    margin: 10px 0%;
  }
  .navlinks {
    transition: all 0.5s;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100px;
    border-radius: 0 0 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .navlinks a{
    width: 100%;
    color: black;
    border-bottom: 1px solid #847878;
  }
  .modalbutton{
    border-radius: 0 10px 10px 0;
    padding: 10px;
    transition: all 0.5s;
    display: block;
    position: fixed;
    top: 0;
    left: 100px;
    font-size: 30px;
    color: white;
    background-color: red;
  }
}
