body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: red;
}

label {
  text-align: left;
  width: 100%;
  max-width: 500px;
  color: #847878;
  font-weight: bold;
}

.navlinks a{
  padding: .375rem .75rem;
  display: inline-block;
}

.navlinks a:hover{
  text-decoration: none;
  color: red;
}

.body{
  margin: 10px 5%;
}

.body > div {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 10px;
}

iframe{
  margin: 0px -10px;
}

@media (max-width: 520px) {
  .body{
    margin: 10px 0%;
  }
}

.Header{
  border-bottom: 1px solid #847878;
  text-align: center;
}

.Footer{
  padding: 20px 0;
  text-align: center;
}

.header_link{
  color: #847878;
}

.active_header_link{
  color: red;
  font-weight: bold;
}

.leftaligned{
  text-align: left;
}
